<!DOCTYPE html>
<html>
  <head>
    <title><%= QUIZ %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Quiz %></h1>
    <p>Welcome to <%= Quiz %></p>
    <a href="/credits">Credits</a>
	<a href="/quizzes">Quizzes</a>
  </body>
</html>
